#container1{
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    background-color: rgb(37, 23, 81);
    color: rgb(217, 200, 176);
    height: 100px;
    width: 300px;
}
#container2{
    padding: 30px;
    margin: auto;
    background-color: rgb(37, 23, 81);
    color: rgb(217, 200, 176);
    height: 400px;
    width: 300px;
}

#addbtn{
    background-color: rgb(5, 0, 13);
    color: rgb(252, 249, 249);
    border-radius: 30px;
}
#addbtn:hover{
cursor: pointer;
background-color: rgb(79, 6, 6);
}
#head1{
    color: #d3af37;
    padding: 5px;
}


